@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.outer {
    width: 100vw;
    height: 100vh;
}

.inner {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(190, 210, 214, 0.749);
    padding: 20px;
}

.inner h2 {
    text-decoration: none;
}

.inner h2 spam {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: rgb(8, 201, 21);
    color: #fff;
    display: inline-block;
    border-radius: 50%;
}

.inner p {
    padding: 4px;
}

.basic_info {
    padding: 10px;
}

.profile {
    padding: 10px;
}

.inner .btn {
    width: 100%;
    height: 50px;
    background: #08c915;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 4%;
    border: none;
}