*{
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
}
nav{
    background: whitesmoke;
    /* overflow: hidden; */
    /* position: fixed; */
    top: 0;
    height: 80px;
    width: 100%;
}
label.logo{
    text-transform: capitalize;
    color: rgb(17, 187, 187);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul{
    float: right;
    margin-right: 20px;
    list-style-type: none;
    /* color: rgb(112, 110, 110); */
    /* width: 60px; */

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(108, 109, 109);
    font-size: 17px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: rgb(3, 3, 3);
    color: azure;
    transition: 5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(17, 187, 187);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(108, 109, 109);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: azure;
    }
    #check:checked ~ ul{
        left:0;

    }
}

/*#s1{
    display: flex;
    padding: .2vw .6vw .2vw;
    text-transform: uppercase;
    font-style: italic;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6vw;
}
li{
    display: block;
} */
