*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    /* background-color: #6c78a9; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rain__drop {
    animation-delay: calc(var(--d) * 1s);
    animation-duration: calc(var(--a) * 1s);
    animation-iteration-count: infinite;
    animation-name: drop;
    animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
}

.rain__drop path {
    fill: #a1c6cc;
    opacity: var(--o);
    transform: scaleY(calc(var(--s) * 1.5));
}

@-moz-keyframes drop {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

@-webkit-keyframes drop {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

@-o-keyframes drop {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

@keyframes drop {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}

body {
    margin: 0;
    font: 100% / 1.5 Raleway, sans-serif;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 510px;
    font-size: 3rem;
    font-weight: 100;
    animation: lights 5s 750ms linear infinite;
}

aside {
    position: absolute;
    left: 1px;
}

img {
    width: 550px;
}